<!doctype html>

{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/TREC-jquery.js'' %}"></script>

<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>TRECHub</title>
	<link rel='shortcut icon' type='image/x-icon' href="{% static "img/favicon.ico" %}" />
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		{% block custom_css %}{% endblock %}

<!--[if lte IE 8]>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<![endif]-->
<!--[if gt IE 8]><!-->

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<!--<![endif]-->

{% block JSBS %}{% endblock %}

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="{% static "css/layouts/mainstylesheet.css" %}">
    <!--<![endif]-->

</head>
<body>

<div class ="wrapper">
<div class="header">
	
	
	<div class="nav-container">
		<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		<a href="{% url 'homepage' %}">
			<img src="{% static "img/treclogo.png" %}" alt="" style="width:200px;height:50px;float:left;padding-bottom:8px;">
			</a>

			<ul class="pure-menu-list" style="padding-bottom:8px;">
				{% block nav-home %}<li class="pure-menu-item"><a href="{% url 'homepage' %}" class="pure-menu-link">Home</a></li>{% endblock %}
				{% block nav-leaderboard %}<li class="pure-menu-item"><a href="{% url 'leaderboard' %}" class="pure-menu-link">Leaderboard</a></li>{% endblock %}
				{% block nav-about %}<li class="pure-menu-item"><a href="{% url 'about' %}" class="pure-menu-link">About</a></li>{% endblock %}
			
				{% if user.is_authenticated %}
				<li class="pure-menu-item"><a href="#" class="pure-menu-link">Submit</a></li>
				{% block nav-profile %}<li class="pure-menu-item"><a href="{% url 'profile' %}" class="pure-menu-link">Profile</a></li>{% endblock %}
				<li class="pure-menu-item"><a href="{% url 'auth_logout' %}?next=/TRECapp/" class="pure-menu-link">Logout</a></li>
				{% else %}
				{% block nav-login %}<li class="pure-menu-item"><a href="{% url 'auth_login' %}" class="pure-menu-link">Login</a></li>{% endblock %}
				{% block nav-register %}<li class="pure-menu-item"><a href="{% url 'registration_register' %}" class="pure-menu-link">Register</a></li>{% endblock %}
				{% endif %}
			</ul>
		
		</div>
	</div>
</div>
{% block body_block %}{% endblock %}








{% block footer %}
    <div class="footer">
        2016 Copyright by TRECHub, LLC. All rights reserved.
    </div>
{% endblock %}



</div>



</body>
</html>
