<!doctype html>

{% extends 'base.html' %}

{% load staticfiles %}


{% block nav-about %}<li class="pure-menu-item pure-menu-selected"><a href="{% url 'about' %}" class="pure-menu-link">About</a></li>{% endblock %}


{% block body_block %}
<div class="splash-container">
	<div class="content-header">
		<div class="content-header-text">
			<h1>ABOUT</h1>
		</div>
		<div class="content-header-separator">
			<img src="{% static "img/separator.png" %}" alt="" style="height:45px; width: 800px;">
		</div>
	</div>
    <div class="about-splash">

    </div>
</div>
{% endblock %}

</body>
</html>
