<!doctype html>

{% extends 'base.html' %}

{% load staticfiles %}




{% block nav-home %}<li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>{% endblock %}

{% block body_block %}
<body class="index">

<div class="splash-container">
	
    <div class="splash">
		<div class="splash-logo">
			<img src="{% static "img/headbig.png" %}" alt="" style="position:relative;width:370px;height:466px;top:3px;">
		</div>
		<div class="splash-text">
			<h1 class="splash-head">Join the competition, submit your search system</h1>
			<p class="splash-subhead">
				Participate and allow us to evaluate the level of your submission! You will receive feedback together with statistics, graphs and rankings!
			</p>
			<div class="pure-form">
			
				<form name="signup" action="{% url 'register' %}" method="post" id="signup" novalidate="novalidate">
				{% csrf_token %}
				<input type="email" value="Your email address..." name="email" maxlength="256" onfocus="if (value==&#39;Your email address...&#39;) value=&#39;&#39;;" onblur="if (value==&#39;&#39;) value=&#39;Your email address...&#39;;">
				<span class="tooltip">Enter your email address to sign up</span>

				<button class="pure-button" type="submit">Continue</button>
				</form>
			</div>
		</div>

    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-tag"></i>
                    Free Service!
                </h3>
                <p>
                    TRECHub is completely free and can be used as many times as you wish!
                </p>
            </div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-clock-o"></i>
                    Fast & Simple
                </h3>
                <p>
                    Set up your account within seconds and submit your search system.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-comment"></i>
                    Get Feedback
                </h3>
                <p>
                    Receive feedback in different forms and compare your results to others.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-globe"></i>
                    Connect!
                </h3>
                <p>
                    Join a network of likeminded users. Share and inspire others.
                </p>
            </div>
			

        </div>
    </div>
</div>
{% endblock %}


</body>
</html>
