<!doctype html>

{% extends 'base.html' %}

{% load staticfiles %}

{% block custom_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/custom/leaderboard.css' %}">{% endblock %}
{% block JSBS %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/leaderboard-ajax.js' %}"></script>
<script src="{% static 'js/leaderboard.js' %}"></script>

{% endblock %}

{% block title %}- Leaderboard{% endblock %}

<!-- Turn the word "leaderboard" white on the navbar when on the page -->
{% block nav-leaderboard %}<li class="pure-menu-item pure-menu-selected"><a href="{% url 'leaderboard' %}" class="pure-menu-link">Leaderboard</a></li>{% endblock %}

{% block body_block %}
<div id="thewholepage" class="leaderboard-container">
    <div class="content-header">
        <div class="content-header-text">
	<h1>LEADERBOARD</h1>
        </div>
        <div class="content-header-separator">
            <img src="{% static "img/separator.png" %}" alt="" style="height:45px; width: 650px;">
        </div>
    </div>

    <div id="structureOfTable" class="leaderboard-splash">
        <div class="leaderboard-filters">

    <span class="pure-form" id="leaderboard-form-container">
        <form id="leaderboard" novalidate="novalidate" method="post" action="{% url 'leaderboard' %}" name="leaderboard">
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <span class="leaderboard-dropdown-content">
                {{ field }}
                {{ field.options }}
                </span>
                {{ field.help_text }}
            {% endfor %}
            <button id="go-button" class="pure-button" type="submit">Go</button>
        </form>
    </span>
        <table id="runTable" class="pure-table">
	<thead>
                <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Run</th>
                <th>P10 Score</th>
                <th>P20 Score</th>
	    <th>MAP Score</th>
	    <th>Overall Evaluation Score</th>
                </tr>
	</thead>
	
	<tbody>

                {% for run in top_runs %}
                    <tr class="{% cycle 'pure-table-odd' '' %}" {% if forloop.counter == 10 %}id='lastRun'{% endif %}>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ run.researcher }}</td>
                        <td>{{ run.name }}
                        <td>{{ run.p10 }}</td>
                        <td>{{ run.p20 }}</td>
                        <td>{{ run.mean_average_precision }}</td>
                        <td>{{ run.overall }}</td>
                    </tr>
                {% endfor %}

            </tbody>
</table>

    </div>
</div>

{% endblock %}
</body>
</html>
