<!doctype html>

{% extends 'base.html' %}

{% load staticfiles %}

{% block custom_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/custom/leaderboard.css' %}">{% endblock %}
{% block JSBS %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/leaderboard.js' %}"></script>
{% endblock %}


<!-- Turn the word "leaderboard" white on the navbar when on the page -->
{% block nav-leaderboard %}<li class="pure-menu-item pure-menu-selected"><a href="{% url 'leaderboard' %}" class="pure-menu-link">Leaderboard</a></li>{% endblock %}

{% block body_block %}
<div class="leaderboard-container">
    <div class="content-header">
        <div class="content-header-text">
	<h1>LEADERBOARD</h1>
        </div>
        <div class="content-header-separator">
            <img src="{% static "img/separator.png" %}" alt="" style="height:45px; width: 720px;">
        </div>
    </div>

    <div class="leaderboard-splash">
        <div class="leaderboard-filters">

    <span class="pure-form">
        <form id="leaderboard" novalidate="novalidate" method="post" action="{% url 'leaderboard' %}" name="leaderboard">
            {% csrf_token %}
            <!-- <span>
                {{ form.track.label }}
                {{ form.track.help_text }}
                {{ form.track.errors }}
                {{ form.track }}
            <span>
            <span>
                {{ form.task.label }}
                {{ form.task.help_text }}
                {{ form.task.errors }}
                {{ form.task }}
            </span>
            <span>
                {{ form.result_type.label }}
                {{ form.result_type.help_text }}
                {{ form.result_type.errors }}
                {{ form.result_type }}
            </span> -->
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                <span class="{% cycle 'track-label' 'task-label' 'sortby-label' %}">
                {{ field.label }}
                </span>
                {{ field }}
            {% endfor %}
            </span>
        <span>
            <button id="go-button" class="pure-button" type="submit">Go</button>
        </span>
        </form>
    </span><!-- end pure-form -->
        <table class="pure-table">
	<thead>
                <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Run</th>
                <th>P10 Score</th>
                <th>P20 Score</th>
	    <th>MAP Score</th>
	    <th>Overall Evaluation Score</th>
                </tr>
	</thead>
	
	<tbody>

                {% for run in top_runs %}
                    <tr class="{% cycle 'pure-table-odd' '' %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ run.researcher }}</td>
                        <td>{{ run.name }}
                        <td>{{ run.p10 }}</td>
                        <td>{{ run.p20 }}</td>
                        <td>{{ run.mean_average_precision }}</td>
                        <td>{{ run.overall }}</td>
                    </tr>
                {% endfor %}

            </tbody>

<!--            <tbody>
                <tr class="pure-table-odd">
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr class="pure-table-odd">
                    <td>3</td>
                    <td></td>
                    <td></td>
                    <td></td>
	        <td></td>
	        <td></td>
                </tr>

                <tr>
                    <td>4</td>
                    <td></td>
                    <td></td>
                    <td></td>
	        <td></td>
	        <td></td>
                </tr>

                <tr class="pure-table-odd">
                    <td>5</td>
                    <td></td>
                    <td></td>
                    <td></td>
	        <td></td>
	        <td></td>
                </tr>

                <tr>
                    <td>6</td>
                    <td></td>
                    <td></td>
                    <td></td>
	        <td></td>
	        <td></td>
                </tr>

                <tr class="pure-table-odd">
                    <td>7</td>
                    <td></td>
                    <td></td>
                    <td></td>
	        <td></td>
	        <td></td>
                </tr>

                <tr>
                    <td>8</td>
                    <td></td>
                    <td></td>
                    <td></td>
	        <td></td>
	        <td></td>
                </tr>
		
	    <tr>
                    <td>9</td>
                    <td></td>
                    <td></td>
                    <td></td>
	        <td></td>
	        <td></td>
                </tr>
		
	    <tr>
                    <td>10</td>
                    <td></td>
                    <td></td>
                    <td></td>
	        <td></td>
	        <td></td>
                </tr>
    </tbody> -->
</table>

    </div>
</div>

{% endblock %}
</body>
</html>
