{% extends 'base.html' %}

{% load staticfiles %}


{% block nav-leaderboard %}<li class="pure-menu-item pure-menu-selected"><a href="{% url 'leaderboard' %}" class="pure-menu-link">Leaderboard</a></li>{% endblock %}

{% block body_block %}
<div class="pure-form">
    <form id="leaderboard" novalidate="novalidate" method="post" action="{% url 'leaderboard' %}" name="leaderboard">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br />
        {% endfor %}

        {% if top5runs %}
            {% for run in top5runs %}
                {{ run.name }}
            {% endfor %}
        {% else %}
            There are no runs!
        {% endif %}

        <button class="pure-button" type="submit">Go</button>
    </form>
</div>
{% endblock %}