
{% extends 'base.html' %}

{% load staticfiles %}

{% block nav-submit %}<li class="pure-menu-item pure-menu-selected"><a href="{% url 'submit' %}" class="pure-menu-link">Submit</a></li>{% endblock %}

{% block JSBS %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'js/submit-ajax.js' %}"></script>
<script src="{% static 'js/submit.js' %}"></script>
{% endblock %}

{% block body_block %}

	<div class="submit-container">
		<div class="content-header">
			<div class="content-header-text">
			<h1>SUBMIT</h1>
			</div>
			<div class="content-header-separator">
				<img src="{% static "img/separator.png" %}" alt="" style="height:45px; width: 720px;" />
			</div>
		</div>
		<div class="submit-splash">
			<div class="select-track-task-submit">
			    <form id="submit-form" enctype="multipart/form-data" method="POST" action="{% url 'submit' %}" name="submit-form">
			        {% csrf_token %}
			        {% for field in form.visible_fields %}
			            <span id="{% cycle 'track-dropdown' 'task-dropdown' 'run-upload' %}" class="submit-dropdown-field">
			            {{ field }}
			            </span>
			        {% endfor %}
			        <span class="submit-go-button-container">
			        <button id="submit-go-button" class="pure-button" type="submit">Upload</button>
			        </span>
			    </form>
				<!-- <div class="select-track">
					<label for="sel1"><b>Select Track:</b></label>
						<select class="form-control" id="sel1" style="width:200px;">
						<option>Robust2004</option>
						<option>Robust2005</option>
						<option>MillionQuery</option>
						<option>Terabyte</option>
						<option>APNews</option>
						</select>
				</div>
				<div class="select-task">
				<label for="sel2"><b>Select Task:</b></label>
						<select class="form-control" id="sel2" style="width:200px;">

						</select>
				</div> -->
			</div>

			<div class="track-task-description">
				<div class="track-description">
					<table id="submit-track-table" class="pure-table submit">
						<thead>
							<tr>
								<th class="left-tablehead" style="width:100px;">Track</th>
								<th class="right-tablehead"id="track-name">-</th>

							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Description</td>
								<td>-</td>

							</tr>

							<tr>
								<td>Website</td>
								<td>-</td>

							</tr>
							
							<tr>
								<td class="leftbottom-td">Deadline</td>
								<td class="rightbottom-td">-</td>

							</tr>
						</tbody>
					</table>
				</div>
			
				<div class="task-description">
					<table id="submit-task-table" class="pure-table submit">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="left-tablehead" style="width:100px;">Task</th>
                                                                        <th class="right-tablehead">-</th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
                                                                    <tr>
                                                                        <td>Description</td>
                                                                        <td>-</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Website</td>
                                                                        <td>-</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="leftbottom-td">Year</td>
                                                                        <td class="rightbottom-td">-</td>
                                                                    </tr>
                                                                </tbody>
					</table>
				
				</div>
			</div>
		</div>
		
	</div>
	{% endblock %}
