/*
 * These are the style rules for the actual leaderboard
 * table, rounded corners and such like. (Blair)
 */

#structureOfTable {

    height: 553px;
    border-radius: 10px 10px 10px 10px;
}

#leaderboard {
    position: relative;
    height: 0px;
    bottom: 25px;
}

#runTable {
    width: 100%;
    border-collapse: separate;
    border-radius: 0px 0px 8px 8px;
    background-color: #e0e0e0;
}



/*
 * These are the style rules for the dropdown labels
 * on the leaderboard, i.e Track, Task, Sort by
 */

/*
 *These are more general rules (bg color etc.)
 *
 */
.leaderboard-filters{
    border-radius: 8px 8px 0px 0px;
    background: transparent;
    background-color: #2D3E50;
    }